body {
    background-color: #CAD3C8;
    text-align: center;
    color: whitesmoke;
    font-family: 'East Sea Dokdo', cursive;
}
.contents {
    position: absolute;
    left: 25%;
    margin-top: 200px;
    padding-bottom: 280px;
    background-color: rgba(0,0,0,0.3);
    width: 550px;
}

h1{
    font-size:110px;
    margin-top:20px;
    margin-bottom:20px;

}

.form,
.greetings {
    display: none;
}

.greetings {
    position: absolute;
    left: 25%;
    background-color: rgba(0,0,0,0.4);
    width: 50%;
    margin: 0;
    font-size:30px;
}

form {
    position:absolute;
    left: 25%;
    top:220px;
    width: 50%;
    margin: 0;
}

ul {
    position: absolute;
    left: 20%;
    width: 55%;
    text-align: start;
    list-style: none;
    font-size: 25px;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.45);
    padding-bottom: 10px;
    padding-top: 10px;
}


.todocontents{
    text-align:left;
    padding-right: 20px;
}
.showing{
    display : block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadIn 0.5s;
}
