

body{
background-color: ghostwhite;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;
    background-image: url(back.png);
    background-size: cover;
    background-attachment: fixed;
    }
.back{
        overflow: hidden;
            background-color: white;
            background-color: rgba(255, 255, 255, 0.8);
            background-size: cover;
}


h1{
    margin-right: 50px;
    margin-top: 50px;
}
.greeting{
    text-indent : 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pics{
width: inherit;
    
}

.graduation{
    overflow: hidden;
    padding-right: 15px;
}
.pic1{
    float: left;
    margin: 10px;
    border: 5px solid white;
    padding: 5px;
    padding-bottom: 0px;
    }
.pp1{
    overflow: hidden;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 5%;
}

.yel{
    overflow: hidden;
    padding-left: 15px;
}
.pic2{
    clear: left;
    float:right;   
    margin: 10px;
    border: 5px solid white;
    padding: 5px;
}
.pp2{
    overflow: hidden;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 5%;
}

.blue{
    overflow: hidden;
    padding-right: 15px;
}
.pic3{
    clear: right;
    float:left;
    border: 5px solid white;
    padding: 5px;
    margin: 10px;    
}
.pp3{
    overflow: hidden;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 5%;
}


.ocean{
    overflow: hidden;
    padding-left: 15px;

}
.pic4{
    clear: left;
    float:right;
    border: 5px solid white;
    padding: 5px;    
    margin: 10px;
}
.pp4{
    overflow: hidden;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 10px;
    text-indent: 5%;
}


.dance{
    overflow: hidden;
    padding-right: 15px;
}
.pic5{
    clear: right;
    float:left;
    border: 5px solid white;
    padding: 5px;    
    margin: 10px;
}
.pp5{
    overflow: hidden;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 5%;
}



.spring{
    overflow: hidden;
    padding-left: 15px;
}
.pic6{
    clear: left;
    float:right;
    border: 5px solid white;
    padding: 5px; 
    margin: 10px;
}
.pp6{
    overflow: hidden;
    width: 280px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 5%;
}


.memory{
    border-top-color: darkmagenta;
    border-top-style: dotted;
    border-top-width: 3px;
    
    margin-bottom: 5em;
}




#hotpink{
    margin-top : 30px;
    margin-bottom: 20px;
   
}
#birth{
        margin-top: 3px;
        margin-bottom: 3px;
    letter-spacing : 0.5px;
    font-size: 14px;
    
}
.insta{
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 10px;
    margin: 0px;
    padding: 0px;
}
/*----insta end---- */


.ins_skroll{
    margin-top: 50px;
    margin-left : 20px;
    margin-right: 20px;
            background-color: rgba(255, 255, 255, 0.4);
/*    border: 10px solid black; */
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    
}

.skroll{
    float: left;
    overflow: hidden;
    width: 60%;
    border-right: 1px solid;
    border-right-color: darkkhaki;
    
/*        border: 5px solid red;    */
}



.unsk{
overflow: hidden;
position: fixed;
    top: 0;
    right: 0;
    width: 40%;

}

.lay2{
    margin-left : 10px;
    margin-right : 10px;
    padding: 20px;
    padding-right: 0px;
    width: 32%;
    float: left;

}
ul{
    list-style-type: square;
    list-style-position: inside;
    margin-right: 20px;
}

.lay3{
    overflow: hidden;
    font-size: 15px;
    width: 60%;
}


    p{

        letter-spacing: 2px;

    }



